* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app * {
  font-family: "Caveat", cursive;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.green {
  color: #25af43;
}

.red {
  color: #cd1010;
}

.btn_info i {
  color: #3bf0f6;
}

.btn_edit i {
  color: #0df239;
}

.btn_delete i {
  color: #fe3434;
}

textarea {
  resize: none;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#home {
  height: calc(100vh - 80px);
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  width: 1000px;
}

/* The width of each slide */
.slick-slide {
  width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: blue;
}

header {
  height: 80px;
  background-color: #816279;
}
header ul {
  height: 100%;
}
header ul li {
  padding: 10px 20px;
}
header ul li:hover {
  background-color: #1d68a7;
  cursor: pointer;
}
header ul li.active {
  background-color: #1d68a7;
}
header ul li a {
  text-transform: uppercase;
  color: #121212;
  font-size: 30px;
}
header ul li a:hover {
  color: #121212;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 5 - 20px);
  margin: 20px 10px;
  transition: transform 0.3s linear;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  width: 100%;
}
.card h3 {
  color: #121212;
}

#article img {
  width: 50%;
}
#article p {
  font-size: 25px;
}
#article .author {
  font-size: 18px;
  text-decoration: underline;
}
#article .list-section {
  height: 200px;
  padding: 10px;
  overflow-y: auto;
  background-color: #f5f5f5;
}
#article .list-section li:not(:last-child) {
  border-bottom: 1px solid #121212;
}
#article .list-section .date {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

#crud {
  font-family: "Lora", serif;
}
#crud #post_detail img {
  width: 20%;
}
