.wrap {
  flex-wrap: wrap;
}
.card {
  width: calc(100% / 5 - 20px);
  margin: 20px 10px;
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
  h3 {
    color: $titleColor;
  }
}
