// PROPRIETà COMUNI IN TUTTA L'APPICLAZIONE
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app * {
  font-family: 'Caveat', cursive;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.green {
  color: #25af43;
}

.red {
  color: #cd1010;
}

.btn_info {

  i {
    color: #3bf0f6;
  }
}
.btn_edit {

  i {
    color: #0df239;
  }
}
.btn_delete {

  i {
    color: #fe3434;
  }
}
textarea {
  resize: none;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
}
h2 {
  font-size: 50px;
  font-weight: 700;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


// HOME PAGE -------------------------------------------------------------------
#home {
  height: calc(100vh - #{$headerHeight});
}
